

.product-list-small{
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 0;
}

.product-list-small li{
    display: inline-block;
    box-sizing:border-box;

    text-align:left;
    font:bold 18px sans-serif;

    background-color:#F37338;
        border-radius: 0.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.3);

    max-width:250px;
    margin: 10px;
    padding: 25px;
}

/* The product image */

.product-list-small .product-photo{
    display: block;
    text-align: center;
    /*box-shadow : 0 0 20px 2px #f3f3f3 inset;*/
    border-radius: 0.5em;
    width: auto;
    margin-bottom: 10px;
    box-sizing:border-box;
    overflow: auto;
}

/* The product name */

.product-list-small h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin:0;
    font-size:16px;
}

.product-list-small h2 a{
    text-decoration: none;
    color: #ffffff;
}

/* The star product rating */

.product-list-small .product-rating{
    display: block;

    color: #f09911;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;

    width: 80px;
    margin: 7px -2px;
}

.product-list-small .product-rating i{
    margin-left: 2px;
}

.product-list-small .product-description{
    font-size: 14px;
    margin-top: 0px;
    font-weight: normal;
    color: #dedede;
    line-height: 1.45;
    margin-bottom: 0px;
}

.product-list-small .product-price{
    color:  #4d4d4d;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

